<header>
    <nav class="navbar">
        <a href="/dashboard" class="nav-branding">Calliope</a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/#about" class="nav-link">About</a>
            </li>
            <% if (typeof user != 'undefined') { %>
            <li class="nav-item">
                <a href="/profile" class="nav-link">Profile</a>
            </li>

            <li class="nav-item">
                <a href="/search" class="nav-link">Search Songs</a>
            </li>

            <li class="nav-item">
                <a href="/dashboard" class="nav-link">Dashboard</a>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a href="/login" class="nav-link">LogIn</a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link">SignUp</a>
            </li>
            <% } %>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap%27');

    * {
        font-family: 'Montserrat';
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    header {
        text-decoration-color: #000;
        background-color: #fff;
    }

    li {
        list-style: none;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    .navbar {
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }

    .nav-branding {
        font-size: 2rem;
        padding-left: 1vw;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        margin-right: 50px;
        font-size: 18px;
        font-weight: 500;
    }

    .nav-link {
        transition: 0.3s ease-out;
    }

    .nav-link:hover {
        color: dodgerblue;
    }

    .hamburger {
        display: none;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: #000;
    }

    @media(max-width:768px) {
        .hamburger {
            display: block;
        }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        .nav-menu {
            position: fixed;
            left: -100%;
            top: 100px;
            gap: 0;
            flex-direction: column;
            background-color: #fff;
            width: 100%;
            height: calc(100vh - 100px);
            text-align: center;
            transition: 0.3s;
        }

        .nav-item {
            margin: 10vh;
        }

        .nav-menu.active {
            left: 0;
        }
    }
</style>

<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");

    hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    })

    document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }))
</script>