<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
</head>

<body>
    <form action="/auth/register" method="POST">
        <input required="true" type="email" name="email" id="email" placeholder="Email">
        <input required="true" type="username" name="username" id="username" placeholder="Username">
        <input required="true" type="password" name="password" id="password" placeholder="Password">
        <button type="submit" class="register">Register</button>
    </form>
</body>

</html>